@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
body{
background-color: black;
}
.mainpg {
    background-color: black;
    color: white;
    display: flex;
    height: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 150px;
    font-size: 50px;
    row-gap: 10px;
}

.intro h3 {
    font-family: 'Lemon', serif;
}

.intro h1 {
    font-family: 'Ubuntu', sans-serif;
    transition: 2s;
}

.intro h1:hover {
    transform: scale(1.2);
}

#typing {
    font-family: 'Ubuntu', sans-serif;
}
.img {
    height: 500px;
    width: 500px;
    margin-top: 10vh;
    border: 5px solid rgb(40, 204, 204);
   border-radius: 50%;
   box-shadow: -100px 0px 200px   rgb(7, 123, 123);
}

.sm {
    font-size: 23px;
    width: 220px;
    display: flex;
    justify-content: space-between;
}
.sm a{
text-decoration: none;
color: rgb(40, 204, 204);
}
.btn {
    width: 120px;
    height: 40px;
    background-color: rgb(40, 204, 204);
    margin: 25px 35px;
    line-height: 3;
    font-size: 15px;
    text-align: center;
    border-radius: 14px;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid white;
}

.btn a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.btn:hover {
    background-color: black;
    transition: 1s;
    border: 1px solid rgb(40, 204, 204);

}   
.btn:hover a{
    color: rgb(40, 204, 204);
}

b{
    color: rgb(40, 204, 204);
}
@media (min-width:300px) and (max-width:600px) {
    .intro {
        padding: 5px;
        row-gap: 30px;
        height: 50vh;
        font-size: 30px;
        margin-left: 20px;
        margin-top: 50px;
    }

    .img {
        height: 200px;
        width: 200px;
       margin: auto;
       margin-top: 20px;
       box-shadow: 70px 0px 120px  rgb(15, 244, 244);

    }

    .mainpg {
        height: 100%;
        flex-direction: column-reverse;
    }

    .intro h1 {
        font-size: 50px;
    }

    .intro h3 {
        font-size: 23px;
    }
    .sm {
        font-size: 20px;
        display: flex;
        width: 160px;
    }
}