@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Ubuntu:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
#loader{
    width: 100%;
    height: 2px;
    background-color:aqua;
    animation: loader 1s ease;
    display: flex;
}
@keyframes loader{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.Linkcolor li{
    color: rgb(40, 204, 204);
}
.nav {
    background-color: black;
    height: 8vh;
    display: flex;
    align-items: center;
    color: white;
}
.nav ul li {
    display: inline-block;
   margin-left: 70px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    border-radius: 20%;
}
.nav ul li:hover{
  font-weight: bolder;
    text-decoration: underline;
}

.nav ul a {
    text-decoration: none;
    color: white;
}
.name {
    padding-left: 35px;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
}
.name b {
    color: rgb(40, 204, 204);
}
#OpenSB{
    position: absolute;
    right: 20px;
    top: 10px;
   cursor: pointer;
   font-size: 30px;
   display: none;
}
@media (min-width:300px) and (max-width:1000px) {
    .nav {
        height: 5vh;
    }

    .name {
        font-size: 23px;
        padding-left: 3px;
    }
    .NavLinks{
        display: none;
    }
    #OpenSB{
       display: flex;
    }
  #sidebar{
    height: 30vh;
    width: 40vw;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: rgba(11, 11, 11, 0.948);
    flex-direction: column;
    z-index: 999;
    box-shadow: -14px 24px 14px black;
    animation: slider 0.5s ease-in-out;
  }
  #cross{
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 35px;
  }
  .SidebarLinks ul{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    row-gap: 25px;
  }
  .SidebarLinks ul li{
    font-size: 20px;
    margin-left: 10px;
    font-weight: bolder;
  }
  @keyframes slider {
    from{
        width:  0vw;
    }
    to{
        width:40vw;
    }
  }
    }