@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Ubuntu:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
#loader{
    width: 100%;
    height: 2px;
    background-color:aqua;
    animation: loader 1s ease;
    display: flex;
}
@keyframes loader{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.Linkcolor li{
    color: rgb(40, 204, 204);
}
.nav {
    background-color: black;
    height: 8vh;
    display: flex;
    align-items: center;
    color: white;
}
.nav ul li {
    display: inline-block;
   margin-left: 70px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    border-radius: 20%;
}
.nav ul li:hover{
    color: rgb(86, 84, 84);
}

.nav ul a {
    text-decoration: none;
    color: white;
}
.name {
    padding-left: 35px;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
}

.name b {
    color: rgb(40, 204, 204);
}
.profile{
    position: absolute;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
   background-image: url(Assets/myphoto.jpg);
   background-size: cover;
   margin-top: 5px;
   border: 0.2px solid white;
   cursor: pointer;
}
@media (min-width:300px) and (max-width:600px) {
    .nav {
        height: 5vh;
    }

    .name {
        font-size: 23px;
        padding-left: 3px;
    }

    .nav ul li {
        font-size: 10px;
        margin: 7px;
    }
    .profile{
        height: 25px;
        width: 25px;
        right: 5px;
        margin-top: 0px;
    }
    }