@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto&display=swap');
.heading{
    text-align: center;
    display: block;
}
.card{
    width: 300px;
    background-color:grey;
    margin-top: 100px;
    border: 4px solid white;
    box-shadow: 0px 0px 20px white;
}
.card:hover{
    box-shadow: 0px 0px 50px rgb(22, 155, 155);
    transition: 1s;
}
.projects{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}
.card-title{
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
}
.card-text{
    font-family: 'Roboto', sans-serif;
}
@media  (min-width:300px) and (max-width:600px){
    .heading{
        margin-top: 30px;
        font-size: 40px;
    }
    .card{
        width: 90px;
        height: 200px;
        margin-top: 40px;
    }
    .card img{
        width: 90px;
        height: 100px;
    }
    .card-title{
        font-size: 15px;
    }
    .card-text{
        font-size:8px;
    }
    .projects a button{
        height: 15px;
        width: 40px;
        font-size: 8px;
        margin: 0px 0px;
    }
}